## Data Exploration

**Check if there exists relation between one continuous and one categorical data**

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
data_Sorority = pd.read_csv('Sorority - Copy.csv')
display(data_Sorority)

    Score    Sorority
0    2.17  Sorority 1
1    1.85  Sorority 1
2    2.83  Sorority 1
3    1.69  Sorority 1
4    3.33  Sorority 1
5    2.63  Sorority 2
6    1.77  Sorority 2
7    3.25  Sorority 2
8    1.86  Sorority 2
9    2.21  Sorority 2
10   2.63  Sorority 3
11   3.78  Sorority 3
12   4.00  Sorority 3
13   2.55  Sorority 3
14   2.45  Sorority 3
15   3.79  Sorority 4
16   3.45  Sorority 4
17   3.08  Sorority 4
18   2.26  Sorority 4
19   3.18  Sorority 4

In [3]:
data_Sorority.shape

(20, 2)

In [4]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

mod = ols('Score ~ Sorority', data = data_Sorority).fit() # continuous ~ categorical
aov = sm.stats.anova_lm(mod)
print (aov)

# F in the table is Test Statistic

            df   sum_sq   mean_sq         F    PR(>F)
Sorority   3.0  2.88732  0.962440  2.230323  0.124144
Residual  16.0  6.90440  0.431525       NaN       NaN

In [5]:
pvalue = 0.124144
alpha = 0.05

pvalue < alpha

False

**Result :: Do Not Rej the Null**

In [6]:
data_Sorority1 = pd.read_csv('Anova.csv')
display(data_Sorority1)

   Sorority 1  Sorority 2  Sorority 3  Sorority 4
0        2.17        2.63        2.63        3.79
1        1.85        1.77        3.78        3.45
2        2.83        3.25        4.00        3.08
3        1.69        1.86        2.55        2.26
4        3.33        2.21        2.45        3.18

In [7]:
S1 = data_Sorority1['Sorority 1']
S2 = data_Sorority1['Sorority 2']
S3 = data_Sorority1['Sorority 3']
S4 = data_Sorority1['Sorority 4']

In [8]:
stats.f_oneway(S1,S2,S3,S4)

F_onewayResult(statistic=2.2303226927756215, pvalue=0.12414355200708274)

In [9]:
pvalue = 0.12414355200708274
alpha = 0.05

pvalue < alpha

False

In [10]:
data_Loan = pd.read_csv('trainl.csv')
data_Loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128,360,1,0,0,1,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,1,0,0,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,0,0,1,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,0,0,1,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,0,0,1,Y

In [11]:
# Ho :: Loan Status and Applicant Income are independent
# H1 :: Loan Status and Applicant Income are not independent

mod = ols('ApplicantIncome ~ Loan_Status', data = data_Loan).fit() # continuous ~ categorical
aov = sm.stats.anova_lm(mod)
print (aov)

                df        sum_sq       mean_sq         F    PR(>F)
Loan_Status    1.0  5.074116e+05  5.074116e+05  0.013574  0.907288
Residual     612.0  2.287689e+10  3.738054e+07       NaN       NaN

In [12]:
pvalue = 0.907288
alpha = 0.05

pvalue < alpha

False

#### Result ::

**Do Not Reject Ho. Loan Status and Applicant Income are independent**

In [13]:
# Ho :: Education and Applicant Income are independent
# H1 :: Education and Applicant Income are not independent 

mod = ols('ApplicantIncome ~ Education', data = data_Loan).fit() # continuous ~ categorical
aov = sm.stats.anova_lm(mod)
print (aov)

              df        sum_sq       mean_sq          F    PR(>F)
Education    1.0  4.532803e+08  4.532803e+08  12.370946  0.000468
Residual   612.0  2.242412e+10  3.664072e+07        NaN       NaN

In [14]:
pvalue = 0.000468
alpha = 0.05

pvalue < alpha

True

#### Result ::

**Reject Ho. :: Education and Applicant Income are not independent**